.NameCalculator {
  padding: 0 5rem;
  input {
    font-size: 20px;
  }
  input:focus {
    outline: none;
  }
  button {
    font-size: 20px;
  }
}

.Title {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

@media only screen and(max-width: 600px) {
  .NameCalculator {
    padding: 0 0.5rem;
    img {
      width: 75%;
    }
    input {
      margin-bottom: 0.5rem;
    }
  }
  .Title {
    margin: 1rem;
    font-size: 2rem;
  }
}
